html {
    font-size: 62.5%;
    font-family: "Public Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /*Primary colors*/
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    /*Neutral colors*/
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    /*Font sizes*/
    --big: 5rem;
    --medium: 2rem;
    --regular: 1.6rem;
    --small: 1.2rem;
}

body {
    /* display: grid;
    grid-template-rows: auto 1fr auto; */
    min-height: 100dvh;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    background-color: var(--White);
}

.nav-links {
    display: none;
}

.ham-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 2.5rem;
    height: 2rem;
    cursor: pointer;
}

.ham-menu--bar {
    width: 100%;
    height: 0.1rem;
    background-color: var(--Dark-Blue);
}

/*Main*/

/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
} */

.next-generation-banking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.next-generation-banking--mockups-image {
    width: 100%;
    height: 100%;
    margin-top: -116px;
    z-index: -1;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.next-generation-banking--mockups-image-container {
    width: 100%;
    padding: 10px;
}

.next-generation-banking--mockups-image-container img {
    width: 100%;
    height: 100%;
}

.next-generation-banking--section-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.next-generation-banking--section-description h1 {
    font-size: clamp(3.2rem, 9vw, var(--big));
    font-weight: 400;
    color: var(--Dark-Blue);
}

.next-generation-banking--section-description p {
    font-size: clamp(1.4rem, 4vw, var(--medium));
    line-height: 24px;
    color: var(--Grayish-Blue);
    margin-top: 1rem;
}

.next-generation-banking--section-description button {
    margin-top: 2rem;
    padding: 1.4rem 3rem;
    font-size: clamp(1.4rem, var(--regular), 1.8rem);
    font-weight: 700;
    color: var(--White);
    background: linear-gradient(
        90deg,
        var(--Lime-Green),
        var(--Bright-Cyan)
    );
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.temporary-size {
    width: 100px;
}